.nav-link {
    color: #ADADAD;
}

.nav-tabs .nav-link.active {
    color: #C8242F;
    background-color: #FFFFFF;
}
#radio1, #radio2, #checkbox1, #checkbox2 {
    accent-color: red;
}
label{
    font-size: 16px;
}
.labelholder {
    padding:10px;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    background: #ffffff;
}

.holder {
    padding:10px;
}

.holder:focus + .labelholder, .holder:not(:placeholder-shown) + .labelholder {
    opacity:1;
    transform: scale(0.75) translateY(-80%) translateX(-15px);
}